// utils
@import "./utils/variables";
@import "./utils/visually-hidden";

// base
@import "./base/base";

// components
@import "./components/container";
@import "./components/btn";
@import "./components/header";
@import "./components/logo";
@import "./components/hero";
@import "./components/benefits";
@import "./components/occupation";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal/modal";
@import "./components/portfolio";
