.form-modal__checkbox {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 12px;
    text-align: right;
    
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: $secondaryTextColor;

    @media screen and (max-width:479px) {
        text-align: center;
        padding-left: 10px;
    }
    @include mq(desktop) {
        font-size: 14px;
        line-height: 1.71;
        padding-right: 11px;
        padding-left: 12px;
    }
}

.checkbox__border {
    position: absolute;
    left: 0;
    top: 0;

    width: 16px;
    height: 15px;

    background-color: $mainLightBg;
    border: 2px solid $mainTextColor;
    border-radius: 2px;

    
    opacity: 1;
    transition: opacity $transition;

    .checkbox__input:checked + & {
        opacity: 0;
    }

    @include mq(desktop) {
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.checkbox__icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 15px;

    background-color: $accentColor;
    fill: $mainLightBg;
    border-radius: 2px;

    opacity: 0;
    transition: opacity $transition;

    .checkbox__input:checked ~ & {
        opacity: 1;
    }
    @include mq(desktop) {
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
}


.checkbox__link {
    text-decoration-line: underline;
    color: $accentColor;

    
}