.clients__list {
    display: flex;
    
    @include mq(notDesktop) {
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: -30px;
    }
}

.clients__item {
    margin-right: 30px;
    margin-bottom: 30px;

    @include mq(mobile-only) {
        width: calc((100% - 60px) / 2);
    }

    @include mq(tablet) {
        width: calc((100% - 90px) / 3);
    }
    @include mq(desktop) {
        margin-bottom: 0;
        margin-right: 0;
    }
}

.clients__item:not(:last-child){
    @include mq(desktop) {
        margin-right: 30px;
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 92px;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border $transition;

    &:hover,
    &:focus {
        border: 1px solid $accentColor;
        border-radius: 4px;
    }
}

.clients__icons {
    display: inline-block;
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);

    transition: fill $transition;

    .clients__link:hover &,
    .clients__link:focus & {
        fill: $accentColor;
    }
}
