.footer {
    display: block;
    background-color: $mainDarkBg;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(min-width:1200px) {
        display: flex;
    }
}

.footer__content {
    @media screen and(min-width:768px) {
    }
    @media screen and(min-width:1200px) {
        display: flex;
        align-items: baseline;
        margin: 0 auto;
        width: 1200px;
        
    } 
}
.tablet {
    @media screen and(min-width:768px) and (max-width:1199px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
    @media screen and(min-width:1200px) {
        display: flex;
        align-items: baseline;
    }
    
}

.footer__address {
    @media screen and(max-width:767px) {
        text-align: center;
    }
    @media screen and(min-width:768px) {
        display: inline-block;
        text-align: center;
    }
    @media screen and(min-width:1200px) {
        width: 227px;
        text-align: left;
        margin-left: 0;
    }
}
// .footer__logo {
//     display: block;
//     text-align: center;

//     @media screen and(min-width:1200px) {
//         display: inline-block;
//     }
// }

.footer__location {
    margin-top: 20px;
    line-height: 1.7;
    font-style: normal;

    color: $mainLightText;
    
    
}

.footer__contacts {
    margin-top: 9px;
}

.footer__contacts .contacts-footer__item+.contacts-footer__item {
    margin-top: 9px;
}

.contacts-footer__link {
    text-decoration: none;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
}

.footer__join {
    text-align: center;
    margin-top: 60px;
    @media screen and(min-width:768px) {
        margin-top: 0;
        align-items: baseline;
    }
    @media screen and(min-width:1200px) {
        margin-left: 70px;
    }
}

.footer__title {
    font-size: 14px;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: $mainLightText;
}

.footer__socials {
    display: flex;
    justify-content: center;

    & .solials-footer__item:not(:last-child) {
        margin-right: 10px;
    }
}

.solials-footer__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 44px;
    height: 44px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition: background-color $transition;

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
}

.solials-footer__icons {
    display: inline-block;
    fill: $mainLightBg;
    width: 20px;
    height: 20px;
}

.footer__subscribe {
    display: block;
    @media screen and(max-width:767px) {
        text-align: center;
        margin-top: 60px;
    }

    @media screen and(min-width:768px) {
        text-align: center;
        margin-top: 60px;
    }
    @media screen and(min-width:1200px) {
        margin-left: 93px;
        margin-top: 0;
        text-align: left;
    }
}

.subscribe {
    display: block;
    // width: 570px;
}

.subscribe__title {
    font-size: 14px;
    text-transform: uppercase;

    margin-bottom: 20px;

    color: $mainLightText;
}

.subscribe__input {
    display: block;

    
    font-size: 16px;
    line-height: 1.25;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;

    background: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;

    color: rgba(255, 255, 255, 0.6);

    &:focus {
        outline: transparent;
        background: transparent;
    }
    @media screen and(max-width:767px) {
        width: 100%;
        margin-bottom: 20px;
    }
    @media screen and(min-width:768px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    @media screen and(min-width:1200px) {
        width: 358px;
        // margin-right: 12px;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.subscribe__icon {
    position: absolute;
    bottom: 13px;
    right: 28px;

    width: 24px;
    height: 24px;

    fill: $mainLightBg;
    cursor: pointer;
}