.header {
    border-bottom: 1px solid #ececec;
    background-color: $mainLightBg;
}

.header__container {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 93px;
}

.nav__list {
    display: flex;
}

.nav__list .nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: $mainTextColor;

    transition: color $transition;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.nav__link--current {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: $accentColor;
    text-decoration: none;
}

.nav__link--current::after {
    position: absolute;
    bottom: -1px;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;
}

.contacts-header {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts-header__item {
    display: flex;
}

.contacts-header .contacts-header__item + .contacts-header__item {
    margin-left: 30px;
}

.contacts-header__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: $secondaryTextColor;

    transition: color $transition;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.contacts-header__icon {
    fill: currentColor;
    margin-right: 10px;
}

