.header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

    color: $accentColor;

    &--header {
        color: #000000;
    }
    &--footer {
        color: $mainLightText;
    }
}



