.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: transparent;
    border: transparent;
    background-color: transparent;
    z-index: 6;

    &__icon {
        width: 40px;
        height: 40px;
    }

    &__icon-open {
        opacity: 1;
        fill: $mainTextColor;

        transition: fill $transition;
    }

    &__icon-close {
        opacity: 0;
        fill: $mainTextColor;

        transition: fill $transition;
    }

    @include mq(tablet) {
    display: none;
    }
}

.menu-btn.is-active .menu-btn__icon {
    position: fixed;
}

.menu-btn.is-active .menu-btn__icon-open {
    opacity: 0;
}

.menu-btn.is-active .menu-btn__icon-close {
    opacity: 1;  
}

.menu-btn:hover .menu-btn__icon-open,
.menu-btn:focus .menu-btn__icon-open {
    fill: $accentColor;
}

.menu-btn:hover .menu-btn__icon-close,
.menu-btn:focus .menu-btn__icon-close {
    fill: $accentColor;
}
