.team {
    background-color: $secondaryLightBg;
}

.team__list {
    display: flex;
}

.team__item {
    background: $mainLightBg;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__content {
    padding: 30px 32px;
}

.team__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.team__txt {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: $secondaryTextColor;
}

.socials {
    display: flex;

    .socials &__item:not(:last-child) {
        margin-right: 10px;
    }
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 44px;
    height: 44px;

    background-color: $mainLightBg;
    border-radius: 50%;

    transition: background-color $transition;

    &:hover,
    &:focus {
    background-color: $accentColor;
    }
}

.socials__icons {
    display: inline-block;
    fill: #afb1b8;
    width: 20px;
    height: 20px;

    transition: fill $transition;

    .socials__link:hover &,
    .socials__link:focus & {
        fill: #fff;
    }
}



